DATABASE_URL=mysql+pymysql://course_user:course_password@127.0.0.1:3306/course_registration?charset=utf8mb4
APP_ENV=development
CATALOG_SERVICE_URL=http://127.0.0.1:8081
CATALOG_REQUEST_TIMEOUT_SECONDS=3
BILLING_SERVICE_URL=http://127.0.0.1:8082
BILLING_RETRY_SECONDS=30
BILLING_REQUEST_TIMEOUT_SECONDS=5
